body{
	font-family: 'Georgia';
}

#container {
	width: 60%;
	margin: 0 auto;
}
#content {
	float:right;
	width: 80%;
	background:#9c9;
}
#sidebar {
	float:left;
	width:20%;
	background:#c9c;
	text-align: right;
}

	a:link{
		text-decoration: none;
	}

	a:hover{
		text-decoration: none;
		color: blue;
	}

	a:visited{
		text-decoration: none;
		color: blue;
	}

	a:active{
		text-decoration: none;
		color: blue;
	}

	li{
		list-style-type: none;
		padding: .2em;
	}

	h1 {
		font-family: Lucida Sans Typewriter;
		text-align: center;
	}

#content-container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:33%;
    height: 20px;
    background: #ff0000;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:33%;
    height: 20px;
    background: #00ff00;
}

#right {
    float:right;
    width:33%;
    height: 20px;
    background: #0000ff;
}